.mobile-nav-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 16px;
  position: relative;
  width: 98px;
}

.mobile-nav-link .home-2 {
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mobile-nav-link .house-1 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.mobile-nav-link .property-1-default {
  color: var(--collection-1-cool-gray-cool-gray-600);
  font-family: var(--14px-source-sans-regular-font-family);
  font-size: var(--14px-source-sans-regular-font-size);
  font-style: var(--14px-source-sans-regular-font-style);
  font-weight: var(--14px-source-sans-regular-font-weight);
  letter-spacing: var(--14px-source-sans-regular-letter-spacing);
  line-height: var(--14px-source-sans-regular-line-height);
}

.mobile-nav-link .property-1-active {
  color: var(--collection-1-cool-gray-cool-gray-950);
  font-family: var(--14px-source-sans-semibold-font-family);
  font-size: var(--14px-source-sans-semibold-font-size);
  font-style: var(--14px-source-sans-semibold-font-style);
  font-weight: var(--14px-source-sans-semibold-font-weight);
  letter-spacing: var(--14px-source-sans-semibold-letter-spacing);
  line-height: var(--14px-source-sans-semibold-line-height);
}
