.header-bar {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--collection-1-cool-gray-cool-gray-400);
  height: 104px;
  width: 390px;
}

.header-bar .header-content {
  align-items: center;
  display: flex;
  left: 24px;
  position: relative;
  top: 64px;
  width: 342px;
}

.header-bar .profile-group {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.header-bar .text-wrapper-2 {
  color: #000000;
  flex: 1;
  font-family: var(--14px-source-sans-regular-font-family);
  font-size: var(--14px-source-sans-regular-font-size);
  font-style: var(--14px-source-sans-regular-font-style);
  font-weight: var(--14px-source-sans-regular-font-weight);
  letter-spacing: var(--14px-source-sans-regular-letter-spacing);
  line-height: var(--14px-source-sans-regular-line-height);
  position: relative;
}

.header-bar .settings-link {
  background-image: url(../../../static/img/gear-2.svg);
  background-size: 100% 100%;
  height: 24px;
  position: relative;
  width: 24px;
}
